*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    fonte
}

body{
    background-color: azure;
}

main{
    background-color: white;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 5px rgb(46, 42, 42);
    padding: 10px;
}

h1,h2,p{
    color: brown;
}